@page "/"
@page "/StayFlexy"

<PageTitle>Display: Flexbox</PageTitle>

<div id="flexboxDemo">
    <div class="section elementsContainer">
        <small>Flexbox Parent</small>
        <div class="flexboxParent" style="@parentStyling">
            @for (int child = 1; child <= childrenStyling.Count; child++)
            {
                <div class="flexboxChild" id="@child" style="@childrenStyling[child]">
                    <p>flex element @child</p>
                </div>
            }
        </div>
    </div>
    <div class="section userInputs">
        <div class="addRemoveBtns">
            <button class="addBtn" @onclick="addChildElement">Add New Child</button>
            <button class="removeBtn" @onclick="removeChildElement">Remove Element</button>
        </div>
        <ParentController @bind-Styling="@parentStyling"></ParentController>
        
    </div>
</div>

@code {
    private string parentStyling = "";
    private Dictionary<int, string> childrenStyling = new Dictionary<int, string>
    {
        { 1, "" }
    };

    private Dictionary<string, List<string>> flexboxParentCombos = new Dictionary<string, List<string>>
    {
        { "flex-flow", new List<string> { "flex-direction", "flex-wrap"} }
    };

    private Dictionary<string, List<string>> flexboxChild = new Dictionary<string, List<string>>
    {
        { "align-self", new List<string> {"auto", "flex-start", "flex-end", "center", "baseline", "stretch"} }
    };

    

    private void addChildElement()
    {
        childrenStyling.Add(childrenStyling.Count + 1, "");
    }

    private void removeChildElement()
    {
        int lastElementKey = childrenStyling.Count;
        childrenStyling.Remove(lastElementKey);
    }
}